.gallery-wrapper {
    margin: 10px;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.queue {
    width: 25%;
}

.queue > li{
    padding: 5px;
}

.queue > li > div{
    height: 100%;
}