<ol class="queue">
    {{ $q := $.Site.Data.queue }}
    {{ $free_slots := $q.slotcount }}

    {{ with $q.queue }}
        {{ $total := ($q.queue | len) }}
        {{ $free_slots = sub $free_slots $total }}

        {{ range $q.queue }}
            <li>
                <div>
                    {{if eq .progress -1}} ❌ Cancelled {{ end }}
                    {{if eq .progress 0}} ⏱️️  Waiting {{ end }}
                    {{if eq .progress 1}} 🚧 In Progress {{ end }}
                    {{if eq .progress 2}} ✅ Completed {{ end }}
                </div>
                {{ if (isset . "percent") }}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{.percent}}%" aria-valuenow="{{.percent}}" aria-valuemin="0" aria-valuemax="100">{{.percent}}%</div>
                    </div>
                {{ else }}
                    <div></div> 
                    <div></div>
                {{ end }}
            </li>
        {{ end }}
    {{ end }}

    {{ if gt $free_slots 0 }}
    {{ range seq $free_slots }}
    <li> Open </li>
    {{ end }}
    {{ end }}
</ol>